html, body
{
    text-align: center;
    height: 100%;
    background-image: url("../img/what-the-hex-dark-projects.png"); /* Background pattern from Toptal Subtle Patterns */
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    
    font-size: 20px;
}
::selection
{
    background: #FF6600;
    text-shadow: none;
}
.header
{
    padding: 10px 0 10px 0;
}
.hprojects
{
    margin: 25px 15px 0px 15px;
}
.hprojects:hover,
.hprojects:hover a
{
    color: #FF6600;
}
.hprojects:before,
.hprojects:after
{
    position: relative;
    bottom: 5px;
    font-family: 'fontello';
    font-size: 25px;
    color: transparent;
    margin-right: 10px;
    margin-left: 10px;
    content: '\e809';
    opacity: 0;
    transition: all 0.3s ease-in;
}
.hprojects:hover:before,
.hprojects:hover:after
{
    opacity: 1;
    color: #FF6600;
}
p.logo
{
	font-size: 16px;
	font-weight: 400;
	color: #AAA;
	margin: 10px 10px;
}
.nav
{
	width: 100%;
	height: 40px;
	padding: 0;
	background-color: transparent;
	text-align: center;
    border: none;
}
.navprojects
{
	min-height: 40px;
	padding: 0;
	text-align: center;
    border: none;
}
.navbar-nav .nav-item .nav-link
{
	min-height: 40px;
	padding: 5px 15px;
	color: #FF6600;
    color: var(--rt-orange);
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active
{
	background-color: #FF6600;
	background-color: var(--rt-orange);
    color: #000;
    outline: none;
}
h2
{
    color: #FFF;
    font-weight: 400;
    margin-top: 50px;
}
.michaelreznor
{
    padding-top: 0;
    padding-bottom: 1%;
}
.programming:before,
.graphicdesign:before,
.photography:before,
.gamephotography:before,
.personaltechblog:before
{
    font-family: 'fontello';
    color: #FF6600;
	color: var(--rt-orange);
    margin-right: 10px;
}
.programming:before { content: '\e806'; }
.graphicdesign:before { content: '\e807'; }
.photography:before { content: '\e805'; }
.gamephotography:before { content: '\f11b'; }
.personaltechblog:before { content: '\e808'; }

.portfolio-img
{
    position: relative;
    width: 100%;
    background-size: 100% auto;
	background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #222222;
    border-radius: 15px;
    overflow: hidden;
}
.portfolio-img > img
{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.aspect-ratio-16-9 { background-image: url("../default.png"); }
.aspect-ratio-3-2 { background-image: url("../default-3-2.png"); }
.aspect-ratio-calc { padding-bottom: calc(100% * 9 / 16); }

.portfolio-img-overlay
{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(24, 60%, 20%, 0.85);
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    overflow: hidden;
}
.portfolio-img-overlay > i
{
    position: relative;
    font-size: 120px;
    color: #FFF;
}
.portfolio-img-overlay > p
{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    margin: 5%;
}
@media (max-width: 1024px)
{
    .portfolio-img-overlay > p
    {
        font-size: 0.6em;
    }
    .hprojects:before,
    .hprojects:after
    {
        content: none;
        transition: none;
    }
}
a:hover .portfolio-img .portfolio-img-overlay
{
    opacity: 0.9;
}
.orangebutton
{
    padding: 9px 20px;
    color: #FF6600;
    color: var(--rt-orange);
    height: 40px;
    background-color: transparent;
    font-weight: 400;
    width: max-content;
    border-radius: 5px;
    display: block;
    transition: all 0.3s ease-out;
}
.orangebutton:hover
{
    cursor: pointer;
    color: #000;
    background-color: #FF6600;
    background-color: var(--rt-orange);
}
.ninjahiddenspoiler
{
    display: none;
}
.socials
{
    align-items: center;
    margin: 15px auto;
}
.footer
{
	text-align: center;
	background-color: transparent;
    margin: 15px;
    padding: 0;
}
.b-lazy
{
	-webkit-transition: opacity 1250ms ease-out;
	-moz-transition: opacity 1250ms ease-out;
	-o-transition: opacity 1250ms ease-out;
	transition: opacity 1250ms ease-out;
	opacity: 0;
}
.b-lazy.b-loaded
{
	opacity: 1;
}
#foot-git
{ width: 40px; height: 40px; padding: 2px 0px !important; color: #999999; border-radius: 50%; font-size: 1.2em; overflow: hidden; transition: all 0.3s ease-out; }
#foot-git:hover  { color: #24292e; background-color: #FFFFFF; }
#foot-lin        { width: 40px; height: 40px; padding: 4px 0px !important; color: #999999; border-radius: 50%; transition: all 0.3s ease-out; }
#foot-lin:hover  { color: #FFFFFF; background-color: #0077b5; }
#foot-da         { width: 40px; height: 40px; padding: 5px 0px !important; color: #999999; border-radius: 50%; transition: all 0.3s ease-out; }
#foot-da:hover   { color: #FFFFFF; background-color: #05cc47; }
#foot-yt         { width: 40px; height: 40px; padding: 5px 0px !important; color: #999999; border-radius: 50%; transition: all 0.3s ease-out; }
#foot-yt:hover   { color: #FFFFFF; background-color: #ff0000; }